@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.menuFixed
	position: fixed!important
	top: 0!important
	margin: 0!important

.h1
	display: inline-block
	position: relative
	font-size: 36px
	font-weight: 300
	color: $accent
	padding: 0
	margin: 0
	box-shadow: 0 1px 0 0 #e7e7e7
	line-height: 50px
	&:after
		content: ''
		display: block
		position: absolute
		bottom: 0
		left: 50%
		margin-left: -25px
		width: 50px
		height: 10px
		box-shadow: 0 1px 0 0 $accent

.list
	list-style-type: none
	li
		padding-left: 30px
		position: relative
		&:before
			content: '\f00c'
			display: block
			position: absolute 
			left: 0
			font-family: fontawesome
			color: $accent

		

.left_column
	position: relative
	background-color: $dark
	min-height: 100vh
	.avatar
		display: block
		width: 100%
		position: relative
		padding-top: 60px
		img
			display: block
			margin: 0 auto
			max-width: 150px
			width: 80%
			height: auto
			border-radius: 10rem
			border: 1px solid $ldark

	.nav
		display: block
		margin-top: 60px

		ul
			list-style-type: none
			padding: 0
			margin: 0
			li
				display: block
				width: 100%
				font-weight: 300
				transition: all 300ms ease
				border-top: 1px solid $ldark
				&:last-of-type
					border-bottom: 1px solid $ldark
				&:hover
					box-shadow: inset 10px 0 0 0 $accent
					background-color: rgba(0,0,0,0.45)
				a
					display: block
					line-height: 50px
					font-size: 20px
					color: white
					text-decoration: none
					padding-left: 10px
					i
						display: inline-block
						width: 50px
						text-align: center
						font-size: 26px
						line-height: 60px
						margin-left: 0
						margin-right: 10px
						color: $ldark
				&.active
					background-color: $ldark
					i
						color: white
		

.mobile_menu
	display: flex
	height: 60px
	width: 100%
	justify-content: space-between
	align-items: center
	padding: 0 15px 0 10px
	background-color: $dark
	color: white
	font-size: 24px
	border-left: 5px solid $accent 
	p
		margin: 0
		padding: 0

.hamburger
	padding: 0
	margin-top: 10px
	.hamburger-inner
		background-color: $accent
		&:before, &:after
			background-color: $accent
			
.mm-opened nav#my-menu
	display: block!important
	.avatar
		display: flex
		width: 100%
		position: relative
		justify-content: center
		align-items: center
		img
			display: block
			margin: 0 auto
			width: 100px
			height: auto
			margin: 0 25px
			border-radius: 10rem

		.phone, .mail
			border-radius: 10rem
			width: 50px
			height: 50px	
			color: white
			font-size: 30px
			line-height: 50px

	.mm-listview
		margin-top: 110px
		li
			font-size: 20px
			margin-bottom: 10px
			i
				margin-right: 15px
				width: 40px
				text-align: center

	.mm-navbar
		border-bottom: none
	.mm-panels
		background-color: $dark
		color: white

.right_column
	display: block
	width: 100%
	padding-top: 100px
	p
		margin: 0 10px
	.head
		display: block
		margin: 0 auto
		width: 50%
		text-align: center
	.content
		padding: 50px
		font-size: 20px


.isWorks
	.right_column
		.content
			display: flex
			justify-content: space-around
			align-items: center
			flex-wrap: wrap
			.item
				width: 40%
				min-width: 300px
				margin-bottom: 20px
				padding: 0 5px
				.img
					display: block
					position: relative
					height: 270px
					background-position: top
					background-size: cover
					&:before
						content: '\f00e'
						font-family: fontawesome
						color: $accent
						font-size: 95px
						line-height: 270px
						text-align: center
						display: block
						position: absolute
						top: 0
						left: 0
						right: 0
						bottom: 0
						background-color: rgba(255,255,255,0.5)
						opacity: 0
						transition: 300ms ease
					
					&:hover 
						&:before
							opacity: 1
							cursor: pointer
				.description
					padding: 10px
					p
						padding: 0
						margin: 0

.isResume
	.content
		.item
			display: flex
			justify-content: left
			border-bottom: 1px solid #e7e7e7
			margin-bottom: 50px
			.time
				color: $accent
				margin-right: 30px
				font-size: 20px
				font-weight: 500
				min-width: 130px
				p
					margin: 0
					padding: 0
					margin-bottom: 20px
				.from
					display: block
					position: relative
					&:before
						content: '\f0dd'
						font-family: fontawesome
						display: block
						position: absolute
						left: 45%
						bottom: -25px

			.composition
				.workPlace
					display: block
					font-size: 24px
					font-weight: 600
					text-transform: uppercase
				.description
					display: block
					strong
						display: block
						font-weight: 600
						margin-bottom: 20px
					p
						margin: 0
					ul
						padding-left: 0px



@import "media" // Всегда в конце
